//CSS page for product page
//#header-img{border-style:solid; border-color:black; border-width:5px;}
//.content{margin-top:100px; margin-left: 30vw;}
header {display: flex; flex-direction: row; justify-content: space-around; border-style:solid; border-color:black; border-width:2px;}
ul     {display: flex; flex-direction: row; justify-content: space-around;}
li     {list-style:none; padding-left: 2vw; padding-right: 2vw;}
a       {color: #000; text-decoration: none;}
#content {align-text:center ;margin-left:20vw;margin-right:20vw; margin-top:50px; padding: 5px 10px 5px 10px; background-color:#000000; 
color:whitesmoke;}
#video{margin-left:10vw; background-color:#000000}
.navbar {position:fixed, top:0; margin-left:20vw; margin-right:20vw; margin-top:0px;}
